<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;W3school.setUp()[pri:0, instance:target.W3school@14acaea5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:13</td>   <td>8243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="W3school.fifthTest()[pri:0, instance:target.W3school@14acaea5]">fifthTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:16</td>   <td>10880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="W3school.firstTest()[pri:0, instance:target.W3school@14acaea5]">firstTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:16</td>   <td>11343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="W3school.fourthTest()[pri:0, instance:target.W3school@14acaea5]">fourthTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:18</td>   <td>13555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="W3school.secondTest()[pri:0, instance:target.W3school@14acaea5]">secondTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:21</td>   <td>15833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="W3school.seventhTest()[pri:0, instance:target.W3school@14acaea5]">seventhTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:21</td>   <td>16046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="W3school.sixthTest()[pri:0, instance:target.W3school@14acaea5]">sixthTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:21</td>   <td>16234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="W3school.thirdTest()[pri:0, instance:target.W3school@14acaea5]">thirdTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/06/24 21:24:22</td>   <td>16863</td> <td>&nbsp;</td><td title="&lt;&lt;W3school.end()[pri:0, instance:target.W3school@14acaea5]">&lt;&lt;end</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
</table>
